<!-- Pantalla Principal -->
<div class="p-grid">
    <div class="p-col-12">
        <div class="p-grid table-demo" *ngIf="empleados">
            <div class="p-col-12">
                <div class="card">
                    <p-table #dt dataKey="id" [value]="empleados"
                        styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                        [filterDelay]="0" [globalFilterFields]="['cedula','nombre','apellido','persona.lote']"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
                        [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="caption">
                            <div>
                                <p-toolbar>
                                    <div class="p-toolbar-group-left">
                                        <h5>Listado de Empleados</h5>
                                    </div>
                                    <div class="p-toolbar-group-right">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Busqueda General" />
                                        </span>
                                    </div>
                                </p-toolbar>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">#</th>
                                <th>Identificación</th>
                                <th>Nombres</th>
                                <th>Ocupacion</th>
                                <th>Persona</th>
                                <th>Lote</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-empleado let-rowIndex="rowIndex">
                            <tr class="p-selectable-row">
                                <td >
                                    <span class="p-column-title">#</span>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    <span class="p-column-title">Cedula</span>
                                    {{empleado.cedula}}
                                </td>
                                <td>
                                    <span class="p-column-title">Nombre</span>
                                    {{empleado.nombre}} {{empleado.apellido}}
                                </td>
                                <td>
                                    <span class="p-column-title">Ocupacion</span>
                                    {{empleado.tipoEmpleo.ocupacion}}
                                </td>
                                <td>
                                    <span class="p-column-title">Persona</span>
                                    {{empleado.persona.nombre}}  {{empleado.persona.apellido}}
                                </td>
                                <td>
                                    <span class="p-column-title">Lote</span>
                                    {{empleado.persona.lote}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="p-text-center">
                                <td colspan="8">
                                    <p-messages severity="info">
                                        <ng-template pTemplate>
                                            <span class="custom-message"> No existe información asociada!</span>
                                        </ng-template>
                                    </p-messages>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pantalla Principal -->

