<!-- Dialog Principal -->
<p-dialog header="Vehiculos" [(visible)]="componentesService.dialogVehiculo" [modal]="true" [style]="{width: '60vw'}" [draggable]="true"
    [resizable]="false">
    <div class="p-grid">
        <div class="p-col-12">
            <!--Card Propietario -->
            <div class="card">
                <p-fieldset legend="Datos Persona" [transitionOptions]="'1ms'">
                    <div class="p-fluid p-formgrid p-grid" *ngIf="persona">
                        <div class="p-field p-col-12 p-md-3">
                            <label for="nombre">Nombre</label>
                            <input id="nombre" type="text" pInputText value="{{persona.nombre}}" disabled>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="apellido">Apellido</label>
                            <input id="apellido" type="text" pInputText value="{{persona.apellido}}" disabled>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="zip">Telefonos</label>
                            <input id="zip" type="text" pInputText value="{{persona.telefono}}" disabled>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="lote">Lote</label>
                            <input id="lote" type="text" pInputText value="{{persona.lote}}" disabled>
                        </div>
                        <div class="p-field p-col-12 p-md-1">
                            <label for="accion">Accion</label>
                                    <button (click)="openDialogCrearVehiculo()" 
                                            pButton 
                                            type="button" 
                                            icon="pi pi-plus" 
                                            class="p-button-rounded p-button-success p-button-plain p-button-text" 
                                            title="Agregar Vehiculo">
                                    </button>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <!--Card Propietario -->
            <!--Vehiculos por Propietario -->
            <div class="p-grid table-demo">
                <div class="p-col-12">
                    <p-messages severity="info" *ngIf="persona.vehiculos.length == 0 ">
                        <ng-template pTemplate>
                            <span class="custom-message"> No tiene vehiculos asociados!</span>
                        </ng-template>
                    </p-messages>
                    <p-fieldset legend="Listado de Vehiculos" *ngIf="persona.vehiculos.length > 0 ">
                        <div class="card">
                            <p-table #dt dataKey="id" [value]="persona.vehiculos"
                                     styleClass="p-datatable-customers" [rowHover]="true" 
                                     [rows]="5" [paginator]="true"
                                     currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem">#</th>
                                        <th>Placa</th>
                                        <th>Modelo</th>
                                        <th>Color</th>
                                        <th>Acciones</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-vehiculo let-rowIndex="rowIndex">
                                    <tr class="p-selectable-row">
                                        <td >
                                            <span class="p-column-title">#</span>
                                            {{ rowIndex + 1 }}
                                        </td>
                                        <td>
                                            <span class="p-column-title">Placa</span>
                                            {{vehiculo.placa}}
                                        </td>
                                        <td>
                                            <span class="image-text"
                                                style="margin-left: .5em;vertical-align: middle">{{vehiculo.modelo}}</span>
                                        </td>
                                        <td>
                                            <span class="image-text"
                                                style="margin-left: .5em;vertical-align: middle">{{vehiculo.color}}</span>
                                        </td>
                                        <td>
                                            <button pButton 
                                                    pRipple 
                                                    type="button" 
                                                    icon="pi pi-pencil" 
                                                    class="p-button-rounded p-button-info p-button-text p-button-sm p-mr-2 p-mb-2" 
                                                    (click)="openDialogEditarVehiculo(vehiculo)"
                                                    title="Editar Vehiculo">
                                            </button>
                                            <button pButton 
                                                    pRipple 
                                                    type="button" 
                                                    icon="pi pi-trash" 
                                                    class="p-button-rounded p-button-danger p-button-text p-button-sm p-mr-2 p-mb-2" 
                                                    (click)="deleteVehiculo(vehiculo)"
                                                    title="Eliminar Vehiculo">
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-fieldset>
    
                </div>
            </div>
            <!--Vehiculos por Propietario -->
        </div>
    </div>
</p-dialog>

<!-- Dialog Crear - Editar Empleado -->
<p-dialog header="{{titulo}}" [(visible)]="dialogVehiculoPropietario" [modal]="true" [style]="{width: '40vw'}" [draggable]="true"
    [resizable]="false">

    <form #vehiculoForm="ngForm">
        <div class="p-grid p-fluid">
            <div class="p-col-12">
                <div class="card">
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-4">
                            <div class="p-field">
                                <label for="name">Placa</label>
                                <input type="text" #placa="ngModel" pInputText placeholder="Cédula" [(ngModel)]="vehiculo.placa" name="placa" required>
                            </div>
                            <small *ngIf="placa.invalid && (placa.touched || placa.dirty)" class="p-invalid">Este campo no puede estar vacio </small>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-field">
                                <label for="name">Modelo</label>
                                <input type="text" #modelo="ngModel" pInputText placeholder="Nombres" [(ngModel)]="vehiculo.modelo" name="modelo" required>
                            </div>
                            <small *ngIf="modelo.invalid && (modelo.touched || modelo.dirty)" class="p-invalid">Este campo no puede estar vacio </small>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-field">
                                <label for="name">Apellidos</label>
                                <input type="text" #apellido="ngModel" pInputText placeholder="Apellidos" [(ngModel)]="vehiculo.color" name="apellido" required>
                            </div>
                            <small *ngIf="apellido.invalid && (apellido.touched || apellido.dirty)" class="p-invalid">Este campo no puede estar vacio </small>
                        </div>
                        <!-- <div class="p-col-12 p-md-12">
                            <div class="p-field">
                                <label for="name">Observaciones</label>
                                <textarea rows="5" cols="30" placeholder="Observaciones" pInputTextarea [(ngModel)]="vehiculo.observacion" name="observacion"></textarea>
                            </div>
                        </div>  -->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <p-footer>
        <button pButton 
                (click)="dialogVehiculoPropietario=false" 
                class="p-button-danger p-button-sm"
                type="button" 
                label="Cancelar" 
                icon="pi pi-times">
            </button>
        <button pButton 
                icon="pi pi-save" 
                class="p-button-info p-button-sm" 
                type="button"
                (click)="crearVehiculo()" 
                *ngIf="!vehiculo.id" 
                label="Guardar"
                >
            </button>
        <button pButton 
                icon="pi pi-save" 
                class="p-button-success p-button-sm" 
                type="button"
                (click)="updateVehiculo()"
                *ngIf="vehiculo.id" 
                label="Actualizar">
            </button>
    </p-footer>


</p-dialog>
<!-- Dialog Crear - Editar Empleado -->
